<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic" data-toc-modified-id="Basic-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic</a></span></li><li><span><a href="#Select-with-multiple-conditions" data-toc-modified-id="Select-with-multiple-conditions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Select with multiple conditions</a></span></li><li><span><a href="#ORDER-BY" data-toc-modified-id="ORDER-BY-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>ORDER BY</a></span></li><li><span><a href="#IN-&amp;-NOT-IN" data-toc-modified-id="IN-&amp;-NOT-IN-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>IN &amp; NOT IN</a></span></li><li><span><a href="#GROUP-BY,-COUNT,-ORDER-BY" data-toc-modified-id="GROUP-BY,-COUNT,-ORDER-BY-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>GROUP BY, COUNT, ORDER BY</a></span></li><li><span><a href="#Having" data-toc-modified-id="Having-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Having</a></span></li><li><span><a href="#Top-N-records" data-toc-modified-id="Top-N-records-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Top N records</a></span></li><li><span><a href="#Aggregate-functions-(MIN,-MAX,-MEAN)" data-toc-modified-id="Aggregate-functions-(MIN,-MAX,-MEAN)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Aggregate functions (MIN, MAX, MEAN)</a></span></li><li><span><a href="#JOIN" data-toc-modified-id="JOIN-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>JOIN</a></span></li><li><span><a href="#UNION-ALL-and-UNION" data-toc-modified-id="UNION-ALL-and-UNION-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>UNION ALL and UNION</a></span></li><li><span><a href="#INSERT" data-toc-modified-id="INSERT-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>INSERT</a></span></li><li><span><a href="#UPDATE" data-toc-modified-id="UPDATE-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>UPDATE</a></span></li><li><span><a href="#DELETE" data-toc-modified-id="DELETE-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>DELETE</a></span></li><li><span><a href="#Useful-but-Less-Known-library--collections" data-toc-modified-id="Useful-but-Less-Known-library--collections-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Useful but Less Known library- collections</a></span></li><li><span><a href="#Stop-Using-Pandas-Slowly" data-toc-modified-id="Stop-Using-Pandas-Slowly-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Stop Using Pandas Slowly</a></span></li><li><span><a href="#Window-Function" data-toc-modified-id="Window-Function-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Window Function</a></span><ul class="toc-item"><li><span><a href="#Cumulative-Sum" data-toc-modified-id="Cumulative-Sum-16.1"><span class="toc-item-num">16.1&nbsp;&nbsp;</span>Cumulative Sum</a></span></li><li><span><a href="#Lag" data-toc-modified-id="Lag-16.2"><span class="toc-item-num">16.2&nbsp;&nbsp;</span>Lag</a></span></li><li><span><a href="#Rank" data-toc-modified-id="Rank-16.3"><span class="toc-item-num">16.3&nbsp;&nbsp;</span>Rank</a></span></li><li><span><a href="#Rolling-Window" data-toc-modified-id="Rolling-Window-16.4"><span class="toc-item-num">16.4&nbsp;&nbsp;</span>Rolling Window</a></span></li></ul></li></ul></div>

In [4]:
import numpy as np
import pandas as pd

In [2]:
airports = pd.read_csv('airports.csv')
airport_freq = pd.read_csv('airport-frequencies.csv')
runways = pd.read_csv('runways.csv')

## Basic

In [3]:
#select * from airports limit 3
airports[:3]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN

In [5]:
#select id from airports where ident = 'KLAX'
airports.id[airports.ident=='KLAX']

28032    3632
Name: id, dtype: int64

In [6]:
#select distinct type from airport
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

## Select with multiple conditions

In [7]:
"""
select * from airports 
where iso_region = 'US-CA' 
and type = 'seaplane_base'
"""
airports[(airports.iso_region=='US-CA')&(airports.type=='seaplane_base')]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
979,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2497,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.879902,-122.514000,NaN,NaN,US,US-CA,Sausalito,no,22CA,NaN,22CA,NaN,NaN,NaN
6258,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN
13038,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,NaN,US,US-CA,Folsom,no,C39,NaN,C39,NaN,NaN,NaN
15365,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,NaN,US,US-CA,Kelseyville,no,CN20,NaN,CN20,NaN,NaN,NaN
17746,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.591599,-122.259003,440.0,NaN,US,US-CA,Napa,no,E20,NaN,E20,NaN,NaN,NaN
23012,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,NaN,US,US-CA,Redding,no,H77,NaN,H77,NaN,NaN,NaN
30768,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,NaN,US,US-CA,Avalon,no,KL11,NaN,L11,NaN,NaN,NaN
37424,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,NaN,US,US-CA,Oroville,no,O06,NaN,O06,NaN,NaN,NaN
41096,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,NaN,US,US-CA,Stockton,no,S74,NaN,S74,NaN,NaN,NaN
48542,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,NaN,US,US-CA,Two Harbors,no,NaN,TWH,NaN,NaN,NaN,NaN

In [8]:
"""
select ident, name, municipality 
from airports 
where iso_region = 'US-CA' 
and type = 'large_airport'
"""
airports[['ident','name','municipality']][(airports.iso_region=='US-CA')&(airports.type=='large_airport')]

      ident                                             name   municipality
26404  KBAB                             Beale Air Force Base     Marysville
27242  KEDW                           Edwards Air Force Base        Edwards
28032  KLAX                Los Angeles International Airport    Los Angeles
28559  KOAK       Metropolitan Oakland International Airport        Oakland
28615  KONT                    Ontario International Airport        Ontario
30135  KSAN                  San Diego International Airport      San Diego
30175  KSFO              San Francisco International Airport  San Francisco
30196  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
30218  KSMF                 Sacramento International Airport     Sacramento
30224  KSNA         John Wayne Airport-Orange County Airport      Santa Ana
30273  KSUU                            Travis Air Force Base      Fairfield
30506  KVBG                        Vandenberg Air Force Base         Lompoc

## ORDER BY

In [11]:
"""
select * 
from airport_freq 
where airport_ident = 'KLAX' 
order by type desc
"""
airports[airports.ident=='KLAX'].sort_values(by='type', ascending=False)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
28032,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,US,US-CA,Los Angeles,yes,KLAX,LAX,LAX,http://www.iflylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN

## IN & NOT IN

In [12]:
"""
select * 
from airports
where type not in ('heliport', 'balloonport')
"""
airports[~airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
6,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
7,6528,00CA,small_airport,Goldstone /Gts/ Airport,35.350498,-116.888000,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN
8,324424,00CL,small_airport,Williams Ag Airport,39.427188,-121.763427,87.0,NaN,US,US-CA,Biggs,no,00CL,NaN,00CL,NaN,NaN,NaN
10,6529,00CO,closed,Cass Field,40.622202,-104.344002,4830.0,NaN,US,US-CO,Briggsdale,no,NaN,NaN,NaN,NaN,NaN,00CO
11,6531,00FA,small_airport,Grass Patch Airport,28.645500,-82.219002,53.0,NaN,US,US-FL,Bushnell,no,00FA,NaN,00FA,NaN,NaN,NaN
13,6533,00FL,small_airport,River Oak Airport,27.230900,-80.969200,35.0,NaN,US,US-FL,Okeechobee,no,00FL,NaN,00FL,NaN,NaN,NaN
14,6534,00GA,small_airport,Lt World Airport,33.767502,-84.068298,700.0,NaN,US,US-GA,Lithonia,no,00GA,NaN,00GA,NaN,NaN,NaN
17,6537,00ID,small_airport,Delta Shores Airport,48.145302,-116.213997,2064.0,NaN,US,US-ID,Clark Fork,no,00ID,NaN,00ID,NaN,NaN,NaN
18,322581,00IG,small_airport,Goltl Airport,39.724028,-101.395994,3359.0,NaN,US,US-KS,McDonald,no,00IG,NaN,00IG,NaN,NaN,NaN
20,6539,00IL,small_airport,Hammer Airport,41.978401,-89.560402,840.0,NaN,US,US-IL,Polo,no,00IL,NaN,00IL,NaN,NaN,NaN
22,6541,00IS,small_airport,Hayenga's Cant Find Farms Airport,40.025600,-89.122902,820.0,NaN,US,US-IL,Kings,no,00IS,NaN,00IS,NaN,NaN,NaN
23,6542,00KS,small_airport,Hayden Farm Airport,38.727798,-94.930496,1100.0,NaN,US,US-KS,Gardner,no,00KS,NaN,00KS,NaN,NaN,NaN
24,6543,00KY,small_airport,Robbins Roost Airport,37.409401,-84.619698,1265.0,NaN,US,US-KY,Stanford,no,00KY,NaN,00KY,NaN,NaN,NaN
27,6545,00LS,small_airport,Lejeune Airport,30.136299,-92.429398,12.0,NaN,US,US-LA,Esterwood,no,00LS,NaN,00LS,NaN,NaN,NaN
28,6546,00MD,small_airport,Slater Field,38.757099,-75.753799,45.0,NaN,US,US-MD,Federalsburg,no,00MD,NaN,00MD,NaN,NaN,NaN
30,6548,00MN,small_airport,Battle Lake Municipal Airport,46.299999,-95.700302,1365.0,NaN,US,US-MN,Battle Lake,no,00MN,NaN,00MN,NaN,NaN,NaN
31,6549,00MO,small_airport,Cooper Flying Service Airport,37.202801,-94.412399,970.0,NaN,US,US-MO,Alba,no,00MO,NaN,00MO,NaN,NaN,5K8
32,6550,00MT,closed,Sands Ranch Airport,48.537498,-109.705002,2600.0,NaN,US,US-MT,Havre,no,NaN,NaN,NaN,NaN,NaN,00MT
33,6551,00N,small_airport,Bucks Airport,39.473202,-75.185204,105.0,NaN,US,US-NJ,Bridgeton,no,00N,NaN,00N,NaN,NaN,NaN
34,6552,00NC,small_airport,North Raleigh Airport,36.085201,-78.371399,348.0,NaN,US,US-NC,Louisburg,no,00NC,NaN,00NC,NaN,NaN,NaN
36,321919,00NK,seaplane_base,Cliche Cove Seaplane Base,44.811861,-73.369806,96.0,NaN,US,US-NY,Beekmantown,no,00NK,NaN,00NK,NaN,NaN,NaN
37,6554,00NY,small_airport,Weiss Airfield,42.900101,-77.499702,1000.0,NaN,US,US-NY,West Bloomfield,no,00NY,NaN,00NY,NaN,NaN,NaN
38,6555,00OH,small_airport,Exit 3 Airport,41.590900,-84.142197,785.0,NaN,US,US-OH,Wauseon,no,00OH,NaN,00OH,NaN,NaN,NaN
40,328503,00OK,small_airport,Gull Bay Landing Airport,36.198598,-96.217693,960.0,NaN,US,US-OK,Sandsprings,no,00OK,NaN,00OK,NaN,NaN,NaN
43,45773,00PN,small_airport,Ferrell Field,41.299500,-80.211111,1301.0,NaN,US,US-PA,Mercer,no,00PN,NaN,00PN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55508,32725,ZWYN,small_airport,Yining Airport,43.955799,81.330299,NaN,AS,CN,CN-65,Yining,yes,ZWYN,YIN,NaN,NaN,https://en.wikipedia.org/wiki/Yining_Airport,NaN
55509,30646,ZYAS,medium_airport,Anshan Air Base,41.105301,122.853996,NaN,AS,CN,CN-21,Anshan,yes,ZYAS,AOG,NaN,NaN,https://en.wikipedia.org/wiki/Anshan_Teng%27ao...,NaN
55510,27237,ZYCC,medium_airport,Longjia Airport,43.996201,125.684998,706.0,AS,CN,CN-22,Changchun,yes,ZYCC,CGQ,NaN,NaN,https://en.wikipedia.org/wiki/Changchun_Longji...,NaN
55511,300858,ZYCH,medium_airport,Changhai Airport,39.266667,122.666944,80.0,AS,CN,CN-21,Changhai,no,ZYCH,CNI,NaN,NaN,https://en.wikipedia.org/wiki/Changhai_Airport,NaN
55512,30827,ZYCY,medium_airport,Chaoyang Airport,41.538101,120.434998,568.0,AS,CN,CN-21,Chaoyang,yes,ZYCY,CHG,NaN,NaN,https://en.wikipedia.org/wiki/Chaoyang_Airport,NaN
55513,327349,ZYDU,medium_airport,Wudalianchi Dedu Airport,48.445000,126.133000,984.0,AS,CN,CN-23,Wudalianchi,yes,ZYDU,DTU,NaN,NaN,https://en.wikipedia.org/wiki/Wudalianchi_Dedu...,NaN
55514,324338,ZYFX,small_airport,Fuxin Airport,42.069014,121.718122,548.0,AS,CN,CN-21,Fuxin,no,ZYFX,NaN,NaN,NaN,NaN,NaN
55515,313994,ZYFY,medium_airport,Dongji Aiport,48.199494,134.366447,NaN,AS,CN,CN-23,Fuyuan,yes,ZYFY,FYJ,NaN,NaN,https://en.wikipedia.org/wiki/Fuyuan_Dongji_Ai...,NaN
55516,27238,ZYHB,large_airport,Taiping Airport,45.623402,126.250000,457.0,AS,CN,CN-23,Harbin,yes,ZYHB,HRB,NaN,NaN,https://en.wikipedia.org/wiki/Harbin_Taiping_I...,NaN
55517,31576,ZYHE,medium_airport,Heihe Airport,50.171621,127.308884,8530.0,AS,CN,CN-23,Heihe,yes,ZYHE,HEK,NaN,NaN,https://en.wikipedia.org/wiki/Heihe_Airport,NaN
55518,31701,ZYJL,small_airport,Jilin Airport,44.002201,126.396004,NaN,AS,CN,CN-22,Jilin,no,ZYJL,JIL,NaN,NaN,https://en.wikipedia.org/wiki/Jilin_Ertaizi_Ai...,NaN
55519,27239,ZYJM,medium_airport,Jiamusi Airport,46.843399,130.464996,262.0,AS,CN,CN-23,Jiamusi,yes,ZYJM,JMU,NaN,NaN,https://en.wikipedia.org/wiki/Jiamusi_Airport,NaN
55520,327450,ZYJS,medium_airport,Jiansanjiang Airport,47.110000,132.660278,NaN,AS,CN,CN-23,Jiansanjiang,yes,ZYJS,JSJ,NaN,NaN,https://en.wikipedia.org/wiki/Jiansanjiang_Air...,NaN
55521,313337,ZYJX,medium_airport,Jixi Xingkaihu Airport,45.293000,131.193000,760.0,AS,CN,CN-23,Jixi,yes,ZYJX,JXA,NaN,NaN,https://en.wikipedia.org/wiki/Jixi_Xingkaihu_A...,NaN
55522,31706,ZYJZ,medium_airport,Jinzhou Airport,41.101398,121.061996,NaN,AS,CN,CN-21,Jinzhou,yes,ZYJZ,JNZ,NaN,NaN,https://en.wikipedia.org/wiki/Jinzhou_Airport,Xiaolingzi Air Base
55523,307012,ZYLD,medium_airport,Lindu Airport,47.752056,129.019125,791.0,AS,CN,CN-23,Yichun,yes,ZYLD,LDS,NaN,NaN,https://en.wikipedia.org/wiki/Yichun_Lindu_Air...,Yichun Shi Airport
55524,300516,ZYLS,medium_airport,Yushu Batang Airport,32.836389,97.036389,12816.0,AS,CN,CN-63,Yushu,no,ZYLS,YUS,NaN,NaN,https://en.wikipedia.org/wiki/Yushu_Batang_Air...,NaN
55525,27240,ZYMD,medium_airport,Mudanjiang Hailang International Airport,44.524101,129.569000,883.0,AS,CN,CN-23,Mudanjiang,yes,ZYMD,MDG,NaN,NaN,https://en.wikipedia.org/wiki/Mudanjiang_Airport,Mudanjiang
55526,301193,ZYMH,medium_airport,Gu-Lian Airport,52.912778,122.430000,1836.0,AS,CN,CN-23,Mohe,yes,ZYMH,OHE,NaN,NaN,https://en.wikipedia.org/wiki/Mohe_Gulian_Airport,NaN
55527,27241,ZYQQ,medium_airport,Qiqihar Sanjiazi Airport,47.239601,123.917999,477.0,AS,CN,CN-23,Qiqihar,yes,ZYQQ,NDG,NaN,NaN,https://en.wikipedia.org/wiki/Qiqihar_Airport,NaN
55528,327451,ZYSQ,medium_airport,Songyuan Chaganhu Airport,44.938114,124.550178,459.0,AS,CN,CN-22,Qian Gorlos Mongol Autonomous County,yes,ZYSQ,YSQ,NaN,NaN,https://en.wikipedia.org/wiki/Songyuan_Chaganh...,NaN
55529,307017,ZYTH,small_airport,Tahe Airport,52.224444,124.720222,1240.0,AS,CN,CN-23,Tahe,no,ZYTH,NaN,NaN,NaN,NaN,NaN
55530,27242,ZYTL,large_airport,Zhoushuizi Airport,38.965698,121.539001,107.0,AS,CN,CN-21,Dalian,yes,ZYTL,DLC,NaN,NaN,https://en.wikipedia.org/wiki/Dalian_Zhoushuiz...,Dalian Air Base
55531,307013,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,42.253889,125.703333,1200.0,AS,CN,CN-22,Tonghua,yes,ZYTN,TNH,NaN,NaN,https://en.wikipedia.org/wiki/Tonghua_Sanyuanp...,Tonghua Liuhe Airport
55532,27243,ZYTX,large_airport,Taoxian Airport,41.639801,123.483002,198.0,AS,CN,CN-21,Shenyang,yes,ZYTX,SHE,NaN,NaN,https://en.wikipedia.org/wiki/Shenyang_Taoxian...,NaN
55533,27244,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,624.0,AS,CN,CN-22,Yanji,yes,ZYYJ,YNJ,NaN,NaN,https://en.wikipedia.org/wiki/Yanji_Chaoyangch...,NaN
55534,317861,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,0.0,AS,CN,CN-21,Yingkou,yes,ZYYK,YKH,NaN,NaN,https://en.wikipedia.org/wiki/Yingkou_Lanqi_Ai...,NaN
55535,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
55537,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
55538,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,NaN,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

## GROUP BY, COUNT, ORDER BY

In [23]:
"""
select iso_country, type, count(*) 
from airports 
group by iso_country, type 
order by iso_country, type
"""
airports.groupby(['iso_country','type']).size().to_frame('size')
#size() includes NaN values, count() does not

                            size
iso_country type
AD          heliport           2
AE          closed             1
            heliport          21
            large_airport      4
            medium_airport     7
            seaplane_base      3
            small_airport     15
AF          heliport           3
            medium_airport     9
            small_airport     51
AG          medium_airport     1
            small_airport      2
AI          medium_airport     1
AL          closed             6
            heliport           1
            large_airport      1
            medium_airport     3
            small_airport      1
AM          closed             4
            large_airport      1
            medium_airport     3
            small_airport      5
AO          closed            10
            large_airport      1
            medium_airport    20
            small_airport     73
AQ          closed             2
            medium_airport     4
            small_airport     21
AR          balloonport        1
...                          ...
VN          closed             8
            heliport           5
            large_airport      3
            medium_airport    19
            small_airport     15
VU          medium_airport     4
            small_airport     28
WF          medium_airport     2
WS          medium_airport     1
            small_airport      3
XK          closed             2
            heliport           2
            large_airport      1
            medium_airport     1
YE          medium_airport    11
            small_airport     14
YT          medium_airport     1
ZA          closed            12
            heliport           4
            large_airport      6
            medium_airport    56
            small_airport    413
ZM          closed             1
            large_airport      1
            medium_airport     7
            small_airport     94
ZW          closed             2
            large_airport      1
            medium_airport     8
            small_airport    128

[840 rows x 1 columns]

In [24]:
"""
select iso_country, type, count(*) 
from airports 
group by iso_country, type 
order by iso_country, count(*) desc
"""
airports.groupby(['iso_country','type']).size().to_frame('size').sort_values(['iso_country','size'],ascending=[True,False])

                            size
iso_country type
AD          heliport           2
AE          heliport          21
            small_airport     15
            medium_airport     7
            large_airport      4
            seaplane_base      3
            closed             1
AF          small_airport     51
            medium_airport     9
            heliport           3
AG          small_airport      2
            medium_airport     1
AI          medium_airport     1
AL          closed             6
            medium_airport     3
            heliport           1
            large_airport      1
            small_airport      1
AM          small_airport      5
            closed             4
            medium_airport     3
            large_airport      1
AO          small_airport     73
            medium_airport    20
            closed            10
            large_airport      1
AQ          small_airport     21
            medium_airport     4
            closed             2
AR          small_airport    622
...                          ...
VN          medium_airport    19
            small_airport     15
            closed             8
            heliport           5
            large_airport      3
VU          small_airport     28
            medium_airport     4
WF          medium_airport     2
WS          small_airport      3
            medium_airport     1
XK          closed             2
            heliport           2
            large_airport      1
            medium_airport     1
YE          small_airport     14
            medium_airport    11
YT          medium_airport     1
ZA          small_airport    413
            medium_airport    56
            closed            12
            large_airport      6
            heliport           4
ZM          small_airport     94
            medium_airport     7
            closed             1
            large_airport      1
ZW          small_airport    128
            medium_airport     8
            closed             2
            large_airport      1

[840 rows x 1 columns]

In [ ]:
#What is this trickery with .to_frame() and .reset_index()? Because we want to sort by our calculated field (size), this field needs to become part of the DataFrame. After grouping in Pandas, we get back a different type, called a GroupByObject. So we need to convert it back to a DataFrame. With .reset_index(), we restart row numbering for our data frame.

## Having

In [34]:
"""
select type, count(*) 
from airports 
where iso_country = 'US' 
group by type 
having count(*) > 1000 
order by count(*) desc
"""
airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g) > 1000).groupby('type').size().sort_values(ascending=False)

type
small_airport    13688
heliport          6261
closed            1446
dtype: int64

## Top N records

In [37]:
by_country = airports.groupby('iso_country').size().to_frame('airport_count')

In [53]:
"""
select iso_country 
from by_country 
order by size desc 
limit 10
"""
by_country.sort_values('airport_count',ascending=False).iloc[:10,:1]

             airport_count
iso_country
US                   22837
BR                    4482
CA                    2792
AU                    1945
KR                    1374
MX                    1294
RU                    1069
GB                     982
DE                     953
FR                     863

In [48]:
by_country.nlargest(10,columns='airport_count')

             airport_count
iso_country
US                   22837
BR                    4482
CA                    2792
AU                    1945
KR                    1374
MX                    1294
RU                    1069
GB                     982
DE                     953
FR                     863

In [52]:
"""
select iso_country 
from by_country 
order by size desc 
limit 10 offset 10
"""
by_country.sort_values('airport_count',ascending=False).iloc[10:20,:]

             airport_count
iso_country
AR                     847
CO                     706
IT                     682
PG                     595
VE                     592
ZA                     491
CL                     474
ID                     472
ES                     441
CN                     406

In [54]:
by_country.nlargest(20,columns='airport_count').tail(10)

             airport_count
iso_country
AR                     847
CO                     706
IT                     682
PG                     595
VE                     592
ZA                     491
CL                     474
ID                     472
ES                     441
CN                     406

## Aggregate functions (MIN, MAX, MEAN)

In [56]:
"""
select max(length_ft), min(length_ft), avg(length_ft), median(length_ft) 
from runways
"""
runways.agg({'length_ft':['max','min','mean','median']})

                max  min         mean  median
length_ft  120000.0  0.0  3263.901163  2750.0

In [57]:
runways.agg({'length_ft':['max','min','mean','median']}).T

                max  min         mean  median
length_ft  120000.0  0.0  3263.901163  2750.0

## JOIN

In [65]:
"""
select airport_ident, type, description, frequency_mhz 
from airport_freq 
join airports 
on airport_freq.airport_ref = airports.id 
where airports.ident = 'KLAX'
"""
airport_freq.merge(airports[airports.ident=='KLAX']['id'], left_on='airport_ref',right_on='id',how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

   airport_ident  type description  frequency_mhz
0           KLAX   APP   SOCAL APP          36.07
1           KLAX   APP   SOCAL APP         124.30
2           KLAX  ATIS        ATIS         133.80
3           KLAX   CLD    CLNC DEL         121.40
4           KLAX   DEP   SOCAL DEP         124.30
5           KLAX   GND         GND         121.65
6           KLAX  MISC          CG          34.50
7           KLAX  MISC          CG         898.40
8           KLAX   OPS          AF          37.22
9           KLAX   TWR         TWR         119.80
10          KLAX  UNIC      UNICOM         122.95

## UNION ALL and UNION

In [66]:
"""
select name, municipality 
from airports 
where ident = 'KLAX' 
union all 
select name, municipality 
from airports 
where ident = 'KLGB'
"""

airports[['name','municipality']][airports.ident.isin(['KLAX','KLGB'])]

                                       name municipality
28032     Los Angeles International Airport  Los Angeles
28057  Long Beach /Daugherty Field/ Airport   Long Beach

In [67]:
pd.concat([airports[['name','municipality']][airports.ident=='KLAX'], 
           airports[['name','municipality']][airports.ident=='KLGB']],axis=0)

                                       name municipality
28032     Los Angeles International Airport  Los Angeles
28057  Long Beach /Daugherty Field/ Airport   Long Beach

## INSERT

In [69]:
'''
create table heroes (id integer, name text);
'''
heroes = pd.DataFrame(columns=['id','name'])
heroes

Empty DataFrame
Columns: [id, name]
Index: []

In [76]:
"""
insert into heroes values (1, 'Harry Potter');
"""
heroes = pd.DataFrame([[1,'Harry Potter']],columns=['id','name'])
heroes1 = pd.DataFrame({'id':[3],"name":['Hermione Granger']})
heroes

   id          name
0   1  Harry Potter

In [79]:
"""
insert into heroes values (3, 'Hermione Granger');
"""
pd.concat([heroes,heroes1]).reset_index(drop=True)

   id              name
0   1      Harry Potter
1   3  Hermione Granger

## UPDATE

In [82]:
"""
update airports 
set home_link = 'http://www.lawa.org/welcomelax.aspx' 
where ident == 'KLAX'
"""
airports.home_link[airports.ident=='KLAX'] = 'http://www.lawa.org/welcomelax.aspx'
airports.loc[airports['ident'] == 'KLAX', 'home_link'] = 'http://www.lawa.org/welcomelax.aspx'

/Users/weichengzhang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## DELETE

In [88]:
"""
delete from lax_freq where type = 'MISC'
"""
#airports.drop(airports[airports.type=='MISC'].index)
airport_freq = airport_freq[airport_freq!='MISC']

/Users/weichengzhang/anaconda3/lib/python3.6/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

## Useful but Less Known library- collections

In [94]:
from collections import Counter
from collections import defaultdict

In [93]:
ages = [22, 22, 25, 25, 30, 24, 26, 24, 35, 45, 52, 22, 22, 22, 25, 16, 11, 15, 40, 30]
value_counts = Counter(ages)
value_counts.most_common(1)

[(22, 5)]

In [95]:

my_default_dict = defaultdict(int)
for letter in 'the red fox ran as fast as it could':
    my_default_dict[letter] += 1
print(my_default_dict)

defaultdict(<class 'int'>, {'t': 3, 'h': 1, 'e': 2, ' ': 8, 'r': 2, 'd': 2, 'f': 2, 'o': 2, 'x': 1, 'a': 4, 'n': 1, 's': 3, 'i': 1, 'c': 1, 'u': 1, 'l': 1})

## Stop Using Pandas Slowly

In [ ]:
import pandas as pd
import swifter

df.swifter.apply(lambda x: x.sum() - x.min())
#Just add the swifter call before the apply as shown above and you are now running your Pandas apply faster than ever with just a single word.

## Window Function

### Cumulative Sum

In [ ]:
df = (df.assign(total=df.sort_values(['ts'])
                                .groupby(['url', 'service'])
                                .delta
                                .cumsum()))
"""
select 
    *, 
    sum() over(partition by url, service order by ts) rank
from df
"""

### Lag

In [1]:
df = (df.assign(delta=df.sort_values(['ts'])
                                .groupby(['url', 'service'])
                                .diff(1)))
df.loc[df['delta'].isnull(), 'delta'] = df['total']
"""
select
    *,
     lag(total,1) over(partition by url, service order by ts)
"""

NameError: name 'df' is not defined

### Rank

In [ ]:
df = (df.assign(rn=df.groupby(['service'])['total']
                              .rank(method='first', ascending=False))
                              .query('rn <= 3')
                              .sort_values(['service', 'rn']))
"""
select *
    rank() over(partition by service order by service) rank
from df
"""

### Rolling Window

In [ ]:
# mean of current and previous 2 rows
ro = (df.groupby(['url', 'service'])
                 .rolling(3, on='ts', min_periods=1)
                 .mean()
                 .reset_index(drop=True))
# mean of last 5 mins
# ro = (df.groupby(['url', 'service'])
#                  .rolling('5min', on='ts', min_periods=1)
#                  .mean()
#                  .reset_index(drop=True))

df = df.merge(ro,
                       on=['url', 'service', 'ts'],
                       suffixes=('', '_avg3'))

In [5]:
df = pd.DataFrame({"Person":
...                    ["John", "Myla", "Lewis", "John", "Myla"],
...                    "Age": [24., np.nan, 21., 33, 26],
...                    "Single": [False, True, True, True, False]})

In [9]:
df.isna().sum()

Person    0
Age       1
Single    0
dtype: int64

In [12]:
from sodapy import Socrata

In [14]:
client = Socrata("health.data.ny.gov", None)
result = client.get("cr7a-34ka",limit = 1000)
ppv = pd.DataFrame.from_records(result)
ppv = ppv[['year','patient_county','dual_status','medicaid_ppv_events']]
# change column names
#ppv.columns = ['year','county','dual_status','medicaid_ppv_events']
ppv.rename(columns = {'patient_county':'county'},inplace = True)
ppv.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

   year     county dual_status medicaid_ppv_events
0  2014    Albany     Non-Dual               28303
1  2014    Albany       Total                33297
2  2014    Albany         Dual                4994
3  2014  Allegany         Dual                 864
4  2014  Allegany     Non-Dual                3852

In [16]:
ppv.county = ppv.county.str.strip()

In [18]:
ppv.groupby(['year','county']).size().reset_index()

     year       county  0
0    2011       Albany  1
1    2011     Allegany  1
2    2011        Bronx  1
3    2011       Broome  1
4    2011  Cattaraugus  1
5    2011       Cayuga  1
6    2011   Chautauqua  1
7    2011      Chemung  1
8    2011     Chenango  1
9    2011      Clinton  1
10   2011     Columbia  1
11   2011     Cortland  1
12   2011     Delaware  1
13   2011     Dutchess  1
14   2011         Erie  1
15   2011        Essex  1
16   2011     Franklin  1
17   2011       Fulton  1
18   2011      Genesee  1
19   2011       Greene  1
20   2011     Hamilton  1
21   2011     Herkimer  1
22   2011    Jefferson  1
23   2011        Kings  1
24   2011        Lewis  1
25   2011   Livingston  1
26   2011      Madison  1
27   2011       Monroe  1
28   2011   Montgomery  1
29   2011       Nassau  1
..    ...          ... ..
222  2014     Onondaga  3
223  2014      Ontario  3
224  2014       Orange  3
225  2014      Orleans  3
226  2014       Oswego  3
227  2014       Otsego  3
228  2014       Putnam  3
229  2014       Queens  3
230  2014   Rensselaer  3
231  2014     Richmond  3
232  2014     Rockland  3
233  2014     Saratoga  3
234  2014  Schenectady  3
235  2014    Schoharie  3
236  2014     Schuyler  3
237  2014       Seneca  3
238  2014  St Lawrence  3
239  2014    Statewide  3
240  2014      Steuben  3
241  2014      Suffolk  3
242  2014     Sullivan  3
243  2014        Tioga  3
244  2014     Tompkins  3
245  2014       Ulster  3
246  2014       Warren  3
247  2014   Washington  3
248  2014        Wayne  3
249  2014  Westchester  3
250  2014      Wyoming  3
251  2014        Yates  3

[252 rows x 3 columns]

In [20]:
ppv.groupby(['year','county']).count().reset_index()

     year       county  dual_status  medicaid_ppv_events
0    2011       Albany            1                    1
1    2011     Allegany            1                    1
2    2011        Bronx            1                    1
3    2011       Broome            1                    1
4    2011  Cattaraugus            1                    1
5    2011       Cayuga            1                    1
6    2011   Chautauqua            1                    1
7    2011      Chemung            1                    1
8    2011     Chenango            1                    1
9    2011      Clinton            1                    1
10   2011     Columbia            1                    1
11   2011     Cortland            1                    1
12   2011     Delaware            1                    1
13   2011     Dutchess            1                    1
14   2011         Erie            1                    1
15   2011        Essex            1                    1
16   2011     Franklin            1                    1
17   2011       Fulton            1                    1
18   2011      Genesee            1                    1
19   2011       Greene            1                    1
20   2011     Hamilton            1                    1
21   2011     Herkimer            1                    1
22   2011    Jefferson            1                    1
23   2011        Kings            1                    1
24   2011        Lewis            1                    1
25   2011   Livingston            1                    1
26   2011      Madison            1                    1
27   2011       Monroe            1                    1
28   2011   Montgomery            1                    1
29   2011       Nassau            1                    1
..    ...          ...          ...                  ...
222  2014     Onondaga            3                    3
223  2014      Ontario            3                    3
224  2014       Orange            3                    3
225  2014      Orleans            3                    3
226  2014       Oswego            3                    3
227  2014       Otsego            3                    3
228  2014       Putnam            3                    3
229  2014       Queens            3                    3
230  2014   Rensselaer            3                    3
231  2014     Richmond            3                    3
232  2014     Rockland            3                    3
233  2014     Saratoga            3                    3
234  2014  Schenectady            3                    3
235  2014    Schoharie            3                    3
236  2014     Schuyler            3                    3
237  2014       Seneca            3                    3
238  2014  St Lawrence            3                    3
239  2014    Statewide            3                    3
240  2014      Steuben            3                    3
241  2014      Suffolk            3                    3
242  2014     Sullivan            3                    3
243  2014        Tioga            3                    3
244  2014     Tompkins            3                    3
245  2014       Ulster            3                    3
246  2014       Warren            3                    3
247  2014   Washington            3                    3
248  2014        Wayne            3                    3
249  2014  Westchester            3                    3
250  2014      Wyoming            3                    3
251  2014        Yates            3                    3

[252 rows x 4 columns]

In [22]:
ppv.groupby(['year','county']).size().to_frame('count').reset_index()

     year       county  count
0    2011       Albany      1
1    2011     Allegany      1
2    2011        Bronx      1
3    2011       Broome      1
4    2011  Cattaraugus      1
5    2011       Cayuga      1
6    2011   Chautauqua      1
7    2011      Chemung      1
8    2011     Chenango      1
9    2011      Clinton      1
10   2011     Columbia      1
11   2011     Cortland      1
12   2011     Delaware      1
13   2011     Dutchess      1
14   2011         Erie      1
15   2011        Essex      1
16   2011     Franklin      1
17   2011       Fulton      1
18   2011      Genesee      1
19   2011       Greene      1
20   2011     Hamilton      1
21   2011     Herkimer      1
22   2011    Jefferson      1
23   2011        Kings      1
24   2011        Lewis      1
25   2011   Livingston      1
26   2011      Madison      1
27   2011       Monroe      1
28   2011   Montgomery      1
29   2011       Nassau      1
..    ...          ...    ...
222  2014     Onondaga      3
223  2014      Ontario      3
224  2014       Orange      3
225  2014      Orleans      3
226  2014       Oswego      3
227  2014       Otsego      3
228  2014       Putnam      3
229  2014       Queens      3
230  2014   Rensselaer      3
231  2014     Richmond      3
232  2014     Rockland      3
233  2014     Saratoga      3
234  2014  Schenectady      3
235  2014    Schoharie      3
236  2014     Schuyler      3
237  2014       Seneca      3
238  2014  St Lawrence      3
239  2014    Statewide      3
240  2014      Steuben      3
241  2014      Suffolk      3
242  2014     Sullivan      3
243  2014        Tioga      3
244  2014     Tompkins      3
245  2014       Ulster      3
246  2014       Warren      3
247  2014   Washington      3
248  2014        Wayne      3
249  2014  Westchester      3
250  2014      Wyoming      3
251  2014        Yates      3

[252 rows x 3 columns]

In [24]:
ppv.groupby('year').dual_status.nunique()

year
2011    1
2012    1
2013    3
2014    3
Name: dual_status, dtype: int64

In [25]:
ppv.dual_status.unique()

array(['Non-Dual', 'Total ', 'Dual', 'Non Dual'], dtype=object)

In [26]:
ppv.loc[ppv.dual_status=='Non-Dual','dual_status'] = 'Non Dual'

In [28]:
ppv.medicaid_ppv_events = ppv.medicaid_ppv_events.astype('float')

In [50]:
ppv.pivot_table(index=['year','county'],
               columns='dual_status',
               values = 'medicaid_ppv_events',
                fill_value=0)

dual_status         Dual  Non Dual   Total
year county
2011 Albany            0         0    29612
     Allegany          0         0     3948
     Bronx             0         0   303162
     Broome            0         0     9121
     Cattaraugus       0         0     8012
     Cayuga            0         0     5385
     Chautauqua        0         0    16341
     Chemung           0         0    12741
     Chenango          0         0     6662
     Clinton           0         0     9798
     Columbia          0         0     5636
     Cortland          0         0     3796
     Delaware          0         0     4797
     Dutchess          0         0    14118
     Erie              0         0    62290
     Essex             0         0     4007
     Franklin          0         0     5723
     Fulton            0         0     7647
     Genesee           0         0     4216
     Greene            0         0     3322
     Hamilton          0         0      105
     Herkimer          0         0     4211
     Jefferson         0         0    11464
     Kings             0         0   284568
     Lewis             0         0     1997
     Livingston        0         0     1556
     Madison           0         0     4800
     Monroe            0         0    35077
     Montgomery        0         0     6078
     Nassau            0         0    42849
...                  ...       ...      ...
2014 Onondaga       6406     40219    46625
     Ontario        1281      6385     7666
     Orange         2978     21413    24391
     Orleans         373      2651     3024
     Oswego         1476     10162    11638
     Otsego          716      3474     4190
     Putnam          371      2691     3062
     Queens        19418    235147   254565
     Rensselaer     3416     17908    21324
     Richmond       5049     33776    38825
     Rockland       2392     14669    17061
     Saratoga       1863      7997     9860
     Schenectady    2564     20436    23000
     Schoharie       292      2316     2608
     Schuyler        486      1989     2475
     Seneca          324       963     1287
     St Lawrence    1801     16165    17966
     Statewide    219427   1845591  2065018
     Steuben        1764      9962    11726
     Suffolk       10370     84081    94451
     Sullivan       1080      7752     8832
     Tioga           175      2676     2851
     Tompkins        664      3267     3931
     Ulster         3481     15442    18923
     Warren          804      4038     4842
     Washington      448      3424     3872
     Wayne          1025      4504     5529
     Westchester    8009     62073    70082
     Wyoming         226      2033     2259
     Yates           289      1133     1422

[252 rows x 3 columns]

In [34]:
for cat in ppv.dual_status.unique():
    ppv[cat] = ppv[ppv.dual_status==cat].medicaid_ppv_events

In [42]:
ppv.head()

   year    county dual_status  medicaid_ppv_events  Non Dual   Total     Dual
0  2014    Albany    Non Dual              28303.0   28303.0      NaN     NaN
1  2014    Albany      Total               33297.0       NaN  33297.0     NaN
2  2014    Albany        Dual               4994.0       NaN      NaN  4994.0
3  2014  Allegany        Dual                864.0       NaN      NaN   864.0
4  2014  Allegany    Non Dual               3852.0    3852.0      NaN     NaN

In [51]:
a = ppv.groupby(['year','county']).sum().iloc[:,-3:]